html[data-theme="f1"] {
    --color-main: #FF1801;
    --color-navbar-main: #FF1801;
    --color-navbar-hover: #991B1B;
    --color-dark-text: #170908;
    --color-light-text: #e1e1e1;
    --color-loading-bg: #D9D9D9;
    --color-footer-main: #202020;
    --color-bg-color: #FFFFFF;
}