html[data-theme="f1"] {
    /* See globals.css for docs */
    --color-main: #e12615;
    --color-dark-text: #170908;
    --color-light-text: #e1e1e1;
    
    --color-bg-color: #FFFFFF;
    --color-accent: #D9D9D9;

    --color-navbar-main: #e12615;
    --color-navbar-hover: #991B1B;
    --color-footer-main: #202020;
}