@tailwind base;
@tailwind components;
@tailwind utilities;
@import "f1.css";
@import "valorant.css";

@layer base {
  html {
    --color-main: #01ff6b;
    --color-dark-text: #170908;
    --color-light-text: #BBE4E8;
    --color-loading-bg: #D9D9D9;
  }
}

body {
  scroll-behavior: smooth;
  background-color: #FFFFFF;
}


@font-face {
  font-family: "f1-regular";
  src: url("../public/fonts/Formula1-Regular.otf");
}
@font-face {
  font-family: "f1-bold";
  src: url("../public/fonts/Formula1-Bold.otf");
}
@font-face {
  font-family: "f1-wide";
  src: url("../public/fonts/Formula1-Wide.otf");
}