html[data-theme="valorant"] {
    --color-main: #ffffff;
    --color-navbar-main: #FD4556; 
    --color-navbar-hover: #BD3944;
    --color-dark-text: #53212B;
    --color-light-text: #FFFBF5;
    --color-loading-bg: #D9D9D9;
    --color-footer-main: #FD4556;
    --color-bg-color: #000000;
}